<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency exchange</title>
</head>
<body>
  @if (authenticated)
    <p><a href='/logout'>Logout</a></p>
    <p><a href='/currencies'>Check currencies</a></p>
  @else
    <p><a href='/login'>Login</a></p>
    <p><a href='/register'>Register</a></p>
  @endif
</body>
</html>
